<div class="columns">
  <div class="column is-one-quarter">
    <figure class="image is-square">
      <img src="/images/prof.jpg" alt="My portrait">
    </figure>
  </div>
  <div class="column">
    <p>
      I am a Ph.D. course student at <a href="http://www.cmc.osaka-u.ac.jp/"
      target="_blank">Cybermedia Center</a>, Osaka University, Japan. I work
      under the supervision of <a href="https://sites.google.com/site/sshimojo/"
      target="_blank">Prof. Shinji Shimojo</a> and <a>Assoc. Prof. Susumu
      Date</a>. Before starting my Ph.D. program, I received my M.Sc. in
      Information Science and B.Eng. in Electronic and Information Engineering
      at Osaka Univeristy.
    </p>
  </div>
</div>
<div class="content">
  $body$
</div>
